beautifulsoup4==4.9.0
bs4==0.0.1
fasttext==0.9.1
numpy==1.22.0
pybind11==2.5.0
soupsieve==2.0
beautifulsoup4==4.9.0
bs4==0.0.1
click==7.1.1
emoji==0.5.4
fasttext==0.9.1
joblib==0.14.1
nltk==3.5
numpy==1.22.0
pybind11==2.5.0
regex==2020.4.4
soupsieve==2.0
tqdm==4.45.0
